.img-login {
    margin: 10px auto;
    display: block;
}

.error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 5px;
}

.error-message {
    background-color: #ffeeee;
    color: #ff0000;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
}

.login-form {
    margin-top: 7%;
}