{% load static %}
{% include 'navbar.html' %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/ubb_escudo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-historial.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-registro.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-vista_usuarios.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-horario.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
  </head>
  <body>
    {% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endblock %}
  </body>
</html>