{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="card-container">

      {% for estacion in estaciones %}
      <div class="card">
        <h2>{{ estacion.descripcion }}</h2>
        <a href="{% url 'connect_device' estacion.id_estacion %}">
          <img src="{% static 'images/almacenamiento.jpeg' %}" alt="Scorbot">
        </a>
        <h6>{{ estacion.descripcion }}</h6>
        <div class="{% if estacion.disponibilidad %}disponible{% else %}ocupada{% endif %}">
          {% if estacion.disponibilidad %}
            <p>DISPONIBLE</p>
          {% else %}
            <p>OCUPADA</p>
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>
{% endblock %}
