{% extends 'base.html' %}

{% load static %}

{% block content %}

  <form class="login-form" method="post">
    <img src="{% static 'images/ubb.png' %}" alt="Logo UBB" class="img-login">

    {% csrf_token %}

    <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required>
    <input type="password" name="password" placeholder="Ingresa tu contraseña" required>

    {% if form.errors %}
        <div class="error-message">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <button class="btn-form" type="submit">Iniciar sesión</button>
  </form>

{% endblock %}


