{% extends 'base.html' %}

{% load static %}
{% csrf_token %}

{% block content %}

    <div class="container-main2">
        <div class="carousel-container">
            <!-- Teach Pendant -->
            <div class="carousel-item" id="section-botonera">
                <div class="container-main">    
                    <div class="container-botonera">
                        <h1 class="h1-botonera">Teach Pendant</h1>
                        <input type="text" id="screen-botonera" disabled>
                        <table class="teach-pendant">
                            <tr>
                                <td><button onclick="changeInputValue(this)">xyz</button></td>
                                <td><button onclick="changeInputValue(this)">joints</button></td>
                                <td><button onclick="changeInputValue(this)">speed</button></td>
                                <td><button onclick="changeInputValue(this)">con</button></td>
                                <td><button onclick="changeInputValue(this)">coff</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="changeInputValue(this)">eluno</button></td>
                                <td><button onclick="changeInputValue(this)">dos</button></td>
                                <td><button onclick="changeInputValue(this)">tres</button></td>
                                <td><button onclick="changeInputValue(this)">cuatro</button></td>
                                <td><button onclick="changeInputValue(this)">cinco</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="changeInputValue(this)">seis</button></td>
                                <td><button onclick="changeInputValue(this)">siete</button></td>
                                <td><button onclick="changeInputValue(this)">ocho</button></td>
                                <td><button onclick="changeInputValue(this)">nueve</button></td>
                                <td><button onclick="changeInputValue(this)">diez</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="changeInputValue(this)">~</button></td>
                                <td><button onclick="changeInputValue(this)">home</button></td>
                                <td><button onclick="changeInputValue(this)">open</button></td>
                                <td><button onclick="changeInputValue(this)">close</button></td>
                                <td><button onclick="changeInputValue(this)">go position</button></td>
                            </tr>
                            <tr>
                                <td><button id="open-modal">here</button></td>
                                <td><button id="open-modal2">move</button></td>
                                <td><button onclick="changeInputValue(this)">movel</button></td>
                            </tr>
                        </table>
                        <button onclick="showSection('rutinas')" class="btn-main">Rutinas</button>
                    </div>
                </div>
            </div>  

            <div id="modal" style="display: none;">
                <h1 style="text-align: center;">Crear Posición</h1>
                <form method="POST" action="{% url 'guardar_punto' %}">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label>Nombre Punto</label>
                        <select name="nombre_punto">
                            {% for letra in "ABC" %}
                                <option value="{{ letra }}">{{ letra }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Valor Punto</label>
                        <select name="valor_punto">
                            {% for num in numeros %}
                                <option value="{{ num }}">{{ num }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button onclick="changeInputValue2(this)" type="submit">here</button>
                    <button type="button" onclick="cerrarModal()">salir</button>
                </form>
            </div>

            <div id="modal2" style="display: none;">
                <h1 style="text-align: center;">Mover Posición</h1>
                <form method="POST" action="{% url 'mover_punto' %}">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label>Nombre Punto</label>
                        <select name="nombre_punto">
                            {% for letra in "ABC" %}
                                <option value="{{ letra }}">{{ letra }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Valor Punto</label>
                        <select name="valor_punto">
                            {% for num in numeros %}
                                <option value="{{ num }}">{{ num }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button onclick="changeInputValue2(this)" type="submit">move</button>
                    <button type="button" onclick="cerrarModal2()">salir</button>
                </form>
            </div>

            <!-- Rutinas -->
            <div class="carousel-item" id="section-rutinas">
                <div class="container-main">    
                    <div class="container-rutinas">
                        <h1 class="h1-botonera">Rutinas</h1>
                        <button onclick="addRow()">Agregar fila</button>
                        <table id="myTable">
                        <thead>
                            <tr>
                                <th class="header-rutinas">Comando</th>
                                <th class="header-rutinas">Punto</th>
                                <th class="header-rutinas">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select>
                                    <option value="home">home</option>
                                    <option value="option2">moved 0</option>
                                    <option value="option3">moved 00</option>
                                    <option value="option4">movel</option>
                                    <option value="option5">moveld</option>
                                    <option value="open">open</option>
                                    <option value="close">close</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        {% for user in usuarios %}
                                        <option value="{{ user.nombre }}">{{ user.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            <td>
                                <a href="#" onclick="deleteRow(this)">Eliminar</a>
                            </td>
                            </tr>
                            <tr>
                                <td>
                                    <select>
                                    <option value="home">home</option>
                                    <option value="option2">moved 0</option>
                                    <option value="option3">moved 00</option>
                                    <option value="option4">movel</option>
                                    <option value="option5">moveld</option>
                                    <option value="open">open</option>
                                    <option value="close">close</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        {% for user in usuarios %}
                                        <option value="{{ user.nombre }}">{{ user.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                <a href="#" onclick="deleteRow(this)">Eliminar</a>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                        <button onclick="ejecutarRutina()" class="btn-main">Ejecutar Rutina</button>
                        <button onclick="showSection('botonera')" class="btn-main">Botonera</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- monitoreo -->
        <table class="monitoreo">
            <thead>
                <tr class="row-header">
                    <th class="th-historial">Monitoreo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video1" autoplay></video></td>
                </tr>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video2" autoplay></video></td>
                </tr>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video3" autoplay></video></td>
                </tr>
            </tbody>
        </table>

  </body>
</html>

<script src="{% static 'js/botonera.js' %}"></script>
<script src="{% static 'js/ejecutar_rutina.js' %}"></script>
<script src="{% static 'js/guardar-punto.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/rutinas.js' %}"></script>
<script src="{% static 'js/monitoreo.js' %}"></script>

{% endblock %}
