{% extends 'base.html' %}

{% load static %}
{% csrf_token %}

{% block content %}

    <div class="container-main2">
        <div class="carousel-container">
            <!-- Teach Pendant -->
            <div class="carousel-item" id="section-botonera">
                <div class="container-main">    
                    <div class="container-botonera">
                        <h1 class="h1-botonera">Teach Pendant</h1>
                        <input type="text" id="screen-botonera" disabled>
                        <table class="teach-pendant">
                            <tr>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">+X</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">+Y</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">+Z</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">+R</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">+P</button></td>
                            </tr>
                            <tr>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">-X</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">-Y</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">-Z</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">-R</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">-P</button></td>
                            </tr>
                            <tr>
                                <td><button class="btn-teachpendant" id="open-modal">Guardar Punto</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">open</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">move 0</button></td>
                                <td><button class="btn-teachpendant" onclick="changeInputValue(this)">modo</button></td>
                                <td><button class="btn-teachpendant-abort" onclick="changeInputValue(this)">abort</button></td>
                            </tr>
                        </table>
                        <button class="btn-form" onclick="showSection('rutinas')" class="btn-main">Rutinas</button>
                    </div>
                    
                </div>
            </div>  

            <!-- Modal para guardar puntos -->
            <div id="modal" class="modal-container" style="display: none;">
                <h1>Guardar Punto</h1>
                <form method="POST" action="{% url 'guardar_punto' %}" onsubmit="return validarFormulario()">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="nombre_punto">Nombre Punto</label>
                        <select name="nombre_punto" id="nombre_punto">
                            {% for nombre_punto in nombres_puntos %}
                                <option value="{{ nombre_punto }}">{{ nombre_punto }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input type="text" name="descripcion" id="descripcion">
                    </div>

                    <input type="hidden" name="coordenada_x" value="0">
                    <input type="hidden" name="coordenada_y" value="0">
                    <input type="hidden" name="coordenada_z" value="0">
                    <input type="hidden" name="coordenada_r" value="0">
                    <input type="hidden" name="coordenada_p" value="0">

                    <button class="btn-modal" onclick="changeInputValue2(this)" type="submit">Guardar</button>
                    <button class="btn-modal" type="button" onclick="cerrarModal()">Salir</button>
                </form>
            </div>



            <!-- Sección Rutinas -->
            <div class="carousel-item" id="section-rutinas">
                <div class="container-main">    
                    <div class="container-rutinas">
                        <h1 class="h1-botonera">Rutinas</h1>
                        <button class="btn-rutina" onclick="addRow()">Agregar fila</button>
                        <table id="myTable">
                            <thead>
                                <tr>
                                    <th class="header-rutinas">Comando</th>
                                    <th class="header-rutinas">Punto</th>
                                    <th class="header-rutinas">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select name="comando">
                                            <option value="home">move 0</option>
                                            <option value="home">home</option>
                                            <option value="move">move</option>
                                            <option value="movel">movel</option>
                                            <option value="open">open</option>
                                            <option value="close">close</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="punto">
                                            {% for posicion in posiciones %}
                                                <option value="{{ posicion.nombre_posicion }}{{ posicion.coordenadas }}">{{ posicion.nombre_posicion }}{{ posicion.coordenadas }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                <td>
                                    <a href="#" onclick="deleteRow(this)">Eliminar</a>
                                </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="comando">
                                            <option value="home">speed 30</option>
                                            <option value="home">home</option>
                                            <option value="move">move</option>
                                            <option value="movel">movel</option>
                                            <option value="open">open</option>
                                            <option value="close">close</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="punto">
                                            {% for posicion in posiciones %}
                                                <option value="{{ posicion.nombre_posicion }}{{ posicion.coordenadas }}">{{ posicion.nombre_posicion }}{{ posicion.coordenadas }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                    <a href="#" onclick="deleteRow(this)">Eliminar</a>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn-rutina" onclick="ejecutarRutina()">Ejecutar Rutina</button>
                        <button class="btn-rutina" onclick="showSection('botonera')">Botonera</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Consola Hyper Terminal-->
        <div class="container-consola">
            <div class="container-botonera">
                <h1 class="h1-botonera">Consola</h1>
                <input type="text" id="input-consola" onkeydown="mostrarTexto(event)">
                <textarea id="output-consola" rows="5" disabled></textarea>
            </div>
        </div>

        <script>
            function mostrarTexto(event) {
                if (event.key === "Enter") {
                    var entrada = document.getElementById("input-consola").value;
                    var outputConsola = document.getElementById("output-consola");
                    outputConsola.value += ">> " + entrada + "\n"; // Agregar el prefijo ">>" al comando
                    outputConsola.scrollTop = outputConsola.scrollHeight;
                    document.getElementById("input-consola").value = ""; 
                }
            }
        </script>

        <!-- Sección de monitoreo -->
        <table class="monitoreo">
            <thead>
                <tr class="row-header">
                    <th class="th-historial">Monitoreo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video1" autoplay></video></td>
                </tr>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video2" autoplay></video></td>
                </tr>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video3" autoplay></video></td>
                </tr>
            </tbody>
        </table>

</body>
</html>

<script src="{% static 'js/botonera.js' %}"></script>
<script src="{% static 'js/ejecutar_rutina.js' %}"></script>
<script src="{% static 'js/guardar-punto.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/rutinas.js' %}"></script>
<script src="{% static 'js/monitoreo.js' %}"></script>

{% endblock %}
