{% load static %}

<nav class="navbar">
    <a class="logo-navbar">RemoteCIM</a>
    {% if user.is_authenticated %}
        <div class="navbar-text">Bienvenido {{ user.nombre }}!</div>
        <a class="a-navbar" href="{% url 'home' %}">Home</a>
        <a class="a-navbar" href="{% url 'historial' %}">Historial</a>
        <a class="a-navbar" href="{% url 'puntos' %}">Puntos</a>
        <a class="a-navbar" href="{% url 'horario' %}">Horarios</a>
        {% if user.rol != 'estudiante' %}
            <a class="a-navbar" href="{% url 'registro' %}">Usuarios</a>
        {% endif %}
        <a class="a-navbar" href="{% url 'logout' %}">Salir</a>
    {% endif %}

    <a href="https://www.ubiobio.cl/w/" target="_blank"><img src="{% static 'images/ubb_escudo.png' %}" width="40px" height="40px" alt="logo-ubb-navbar"></a>
</nav>
