{% extends 'base.html' %}

{% block content %}
  <h1 class="h1-historial">PUNTOS ALMACENADOS</h1>
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Grupo</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        {% for punto in puntos %}
          <tr>
            <td>{{ punto.id }}</td>
            <td>{{ punto.nombre_posicion }}</td>
            <td>{{ punto.coordenadas }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
