{% extends 'base.html' %}

{% load static %}
{% csrf_token %}

{% block content %}

    <div class="container-main2">
        <div class="carousel-container">
            <!-- Teach Pendant -->
            <div class="carousel-item" id="section-botonera">
                <div class="container-main">    
                    <div class="container-botonera">
                        <h1 class="h1-botonera">Teach Pendant</h1>
                        <input type="text" id="screen-botonera" disabled>
                        <table class="teach-pendant">
                            <tr>
                                <td><button onclick="changeInputValue(this)">xyz</button></td>
                                <td><button onclick="changeInputValue(this)">joints</button></td>
                                <td><button onclick="changeInputValue(this)">~</button></td>
                                <td><button onclick="changeInputValue(this)">con</button></td>
                                <td><button onclick="changeInputValue(this)">coff</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="changeInputValue(this)">+X</button></td>
                                <td><button onclick="changeInputValue(this)">+Y</button></td>
                                <td><button onclick="changeInputValue(this)">+Z</button></td>
                                <td><button onclick="changeInputValue(this)">+R</button></td>
                                <td><button onclick="changeInputValue(this)">+P</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="changeInputValue(this)">-X</button></td>
                                <td><button onclick="changeInputValue(this)">-Y</button></td>
                                <td><button onclick="changeInputValue(this)">-Z</button></td>
                                <td><button onclick="changeInputValue(this)">-R</button></td>
                                <td><button onclick="changeInputValue(this)">-P</button></td>
                            </tr>
                            <tr>
                                <td><button onclick="changeInputValue(this)">abort</button></td>
                                <td><button onclick="changeInputValue(this)">group select</button></td>
                                <td><button onclick="changeInputValue(this)">open</button></td>
                                <td><button onclick="changeInputValue(this)">close</button></td>
                                <td><button id="open-modal">here</button></td>
                            </tr>
                        </table>
                        <button onclick="showSection('rutinas')" class="btn-main">Rutinas</button>
                    </div>
                </div>
            </div>  

            <div id="modal" style="display: none;">
                <h1 style="text-align: center;">Crear Posición</h1>
                <form method="POST" action="{% url 'guardar_punto' %}" onsubmit="return guardarPunto()">
                    {% csrf_token %}
            
                    <div class="form-group">
                        <label>Nombre Punto</label>
                        <select id="nombre_punto" class="form-control">
                            <option value="A">A</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                        <label>Valor Punto</label>
                        <select id="valor_punto" class="form-control">
                            {% for i in numeros %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
            
                    <button type="submit">here</button>
                    <button type="button" onclick="cerrarModal()">salir</button>
                </form>
            </div>

            <!-- Rutinas -->
            <div class="carousel-item" id="section-rutinas">
                <div class="container-main">    
                    <div class="container-rutinas">
                        <h1 class="h1-botonera">Rutinas</h1>
                        <button onclick="addRow()">Agregar fila</button>
                        <table id="myTable">
                        <thead>
                            <tr>
                                <th class="header-rutinas">Comando</th>
                                <th class="header-rutinas">Punto</th>
                                <th class="header-rutinas">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select name="comando">
                                        <option value="home">move 0</option>
                                        <option value="home">home</option>
                                        <option value="move">move</option>
                                        <option value="movel">movel</option>
                                        <option value="open">open</option>
                                        <option value="close">close</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="punto">
                                        {% for posicion in posiciones %}
                                            <option value="{{ posicion.nombre_posicion }}{{ posicion.coordenadas }}">{{ posicion.nombre_posicion }}{{ posicion.coordenadas }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            <td>
                                <a href="#" onclick="deleteRow(this)">Eliminar</a>
                            </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="comando">
                                        <option value="home">speed 30</option>
                                        <option value="home">home</option>
                                        <option value="move">move</option>
                                        <option value="movel">movel</option>
                                        <option value="open">open</option>
                                        <option value="close">close</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="punto">
                                        {% for posicion in posiciones %}
                                            <option value="{{ posicion.nombre_posicion }}{{ posicion.coordenadas }}">{{ posicion.nombre_posicion }}{{ posicion.coordenadas }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                <a href="#" onclick="deleteRow(this)">Eliminar</a>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                        <button onclick="ejecutarRutina()" class="btn-main">Ejecutar Rutina</button>
                        <button onclick="showSection('botonera')" class="btn-main">Botonera</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- monitoreo -->
        <table class="monitoreo">
            <thead>
                <tr class="row-header">
                    <th class="th-historial">Monitoreo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video1" autoplay></video></td>
                </tr>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video2" autoplay></video></td>
                </tr>
                <tr>
                    <td draggable="true"><video class="monitor-video" id="video3" autoplay></video></td>
                </tr>
            </tbody>
        </table>

  </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        enviarComandosSendCOM();
    });

    function enviarComandosSendCOM() {
        
        // forzar al modo manual desactivado
        sendCOM('~');

        // homing
        setTimeout(function() {
            sendCOM('home');
        }, 3000);

        // se eliminan los 20 puntos
        setTimeout(function() {
            for (let i = 1; i <= 20; i++) {  
                sendCOM('delp A' + i);
            }
        }, 6000);  
        
        // se definen los 20 puntos
        setTimeout(function() {
            for (let i = 1; i <= 20; i++) {  
                sendCOM('defp A' + i);
            }
        }, 6000); 
    }

</script>

<script src="{% static 'js/botonera.js' %}"></script>
<script src="{% static 'js/ejecutar_rutina.js' %}"></script>
<script src="{% static 'js/guardar-punto.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/rutinas.js' %}"></script>
<script src="{% static 'js/monitoreo.js' %}"></script>

{% endblock %}
