{% extends 'base.html' %}

{% block content %}
  <h1 class="h1-historial">PUNTOS ALMACENADOS</h1>
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre Posición</th>
          <th>Coordenada X</th>
          <th>Coordenada Y</th>
          <th>Coordenada Z</th>
          <th>Coordenada R</th>
          <th>Coordenada P</th>
        </tr>
      </thead>
      <tbody>
        {% for punto in puntos %}
          <tr>
            <td>{{ punto.id }}</td>
            <td>{{ punto.nombre_posicion }}</td>
            <td>{{ punto.coordenada_x }}</td>
            <td>{{ punto.coordenada_y }}</td>
            <td>{{ punto.coordenada_z }}</td>
            <td>{{ punto.coordenada_r }}</td>
            <td>{{ punto.coordenada_p }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
